body {
        font-family: 'Ibarra Real Nova', serif;
        text-align: center;
        font-size: larger;
        background-image: url("russia_images/russia.bg_alt3.jpg");
        background-size: cover;
        background-repeat: repeat;
        margin: 0 70px;
        font-weight: 800;
    }

    .header_banner {
        height: 350px;
        background-image: url("russia_images/hpage_rsz.jpg");
        background-size: cover;
        background-position-y: -3em;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
        text-shadow: 1px 1px 1px;
        border: 1px solid black;
        margin-top: 10px;
    }

    .header_banner h1 {
        transform
        : translateY(-30px);
    }

    h1 {
        font-size: 42pt;
        padding: 0;
        margin-bottom: 0;
        text-transform: uppercase; 
    }

    h2 {
        font-size: 28pt;
        margin: 5px;
    }

    p {
        line-height: 1.6em;
        margin: 10px;
    }

    .nav_bar {
        width: 100%;
        font-size: 18pt;
        background-color: #152441; 
        margin-top: 20px;
        border: 1px solid black;
        border-radius: 25px;
        text-transform: uppercase;
        margin-bottom: 50px;
    }

    .text_content {
        width: 100%;
        margin-top: 25px;
    }

    .button_style {
        width: 150px;
        height: 100px;
        background-color: #152441;
        box-shadow: 3px 3px 3px black;
        text-shadow: 2px 2px 8px;
        color: red;
        text-transform: uppercase;
        font-size: 18pt;
        border-radius: 25px;
        cursor: pointer;
    }

    .footer {
        font-size: 18pt;
        font-family: 'Annie Use Your Telescope', cursive;
        background-image: url("russia_images/russian_bear.jpg");
        background-position: -25px -58px;
        line-height: 50px;
        color: lavender;
    }

    li {
        display: inline;
        padding-right: 50px;
        list-style-type: none;
    }

    /* INCREASED PADDING BELOW BY 1 TO ACCOUNT FOR 1PX BORDER ON HOVER */

    a {
        padding: 19px;
    }

    a:link {
        color: red;
        text-shadow: 2px 2px 4px;
    }

    a:visited {
        color: blue;
    }

    a:hover {
        padding: 18px;
        border: 1px solid lightsteelblue;
        border-radius: 80px 15px;   
    }

    a:active {
        color: rebeccapurple;
    }

    .image_style1 {
        border: 1px solid black;
        height: 325px;
        width: 400px;
    }

    .image_style2 {
        border: 1px solid black;
        height: 325px;
        width: 450px;
        border-radius: 50px;
    }

    .image_style3 {
        border: 1px solid black;
        height: 300px;
        width: 380px;
        border-radius: 50px;
        float: left;
        margin-bottom: 35px;
    }

    .image_style4 {
        border: 1px solid black;
        height: 300px;
        width: 380px;
        border-radius: 50px;
        float: right;
    }

    table, th, td {
        border: 1px solid black;
        background-color: lightslategray ;
        margin: auto;
        padding: 5px;
        font-size: large;
        border-collapse: collapse;
    }

    table th {
        background-color: blue;
        color: yellow;
    }

    table td {
        background-color: red;
        color: yellow;
    }

    caption {   
        margin-top: 5px;
        caption-side: top;
        background-color: whitesmoke;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        color: black;
    }

    .clearance {
        clear: both;
    }

    .promovid_heading {
        font-size: 22pt;
        clear: both;
        font-family: 'Annie Use Your Telescope', cursive;
    }

    .promo_vid {
        clear: both;
    }

    .inline_vid {
        border: 1px solid black;
    }

    .text_left_clearance {
        clear: left;
        transform: translateY(30px);
    } 

    .gif {
        width: 100px;
        height: 60px;
        float: left;
        padding: 10px;
    }

    .nav_bar > a {
        all: unset;
        cursor: pointer;
    }

    /* CAN USE LINE HEIGHT AND PADDING TO CENTER TEXT IN MIDDLE OF ELEMENTS

    NAV_BAR CHILD SELECTOR USED FOR 1ST TIME! USEFUL TO TARGET FIRST CHILD. GOOD FIX

    ADDING SAME AMOUNT OF PADDING TO a TAGS AND a:HOVER PSEUDO CLASSES ALLOWS LINKS TO HIGHLIGHT WITH NO SLIPPAGE

    */